{% extends 'base.html' %}

{% block head %}
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
<script src="../static/js/jquery-3.2.1.min.js"></script>
<title>QRcode</title>
{% endblock %}

{% block body %}
<div style="background-color: grey; height: 100vh; display: flex;flex-direction: column;justify-content: center; align-items: center;">
    <img src="/static/images/qrcode.png" style="width: 30%; height: 50%;"/>
    <a href=# id=test><button type="button" class="btn btn-outline-danger" style="width: 105%; margin-top: 10px; font-weight: bold;">Download</button></a>
    <br>
    <button class="btn btn-outline-warning btn block" onclick="myFunction()">Checkout</button>
</div>

<script>
    function alerts(){
        alert('downloaded')
    }
</script>
<script type=text/javascript>
        $(function() {
          $('a#test').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/download',
                function(data) {
              //do nothing
            });
            alert('downloaded')
            return false;
          });
        });
</script>
<script>
  function myFunction(){
    location.assign("http://127.0.0.1:5000")
}
  
</script>
{% endblock %}
